<div class="row">
    <div class="col l6 m6 s12 valign-wrapper" style="height:calc(80vh - 64px)">
        <div class="valign jumbo-cont">
            <h1 class="jumbo-text">Unlock your Neighborhood.</h1><br/>
            <h4>Everyone can join their neighborhood and discover more including latest occurences, departments and businesses.</h4>
            <a routerLink="/login" class="btn">Get Started</a>
        </div>
    </div>
    <div class="col l6 m6 s12 hide-on-med-and-down center-align" id="landing-image">
        <br /><br />
        <img src="assets/store.png" height="60%" width="60%">
    </div>
</div>
<div class="row" id="hd-content">
    <br /><br />
    <div class="container pt-2" style="min-height:200px">
        <div class="col l6 m6 s12">
            <div id="tag-open-holder">
                <br />
                <h2>Powered by opensource projects.</h2>
                <p style="width:80%" class="grey-text">We wan't to support open source because we want the best experience for you.</p>
                <br />
            </div>
        </div>
        <div class="col l6 m6 s12">
            <div id="open-backbones" class="grey-text">
                <br />
                <span class="mr-2 no-wrap"><i class="fab fa-angular"></i> Angular</span>
                <span class="no-wrap"><i class="fab fa-python"></i> Python</span>
                <span class="mr-2 no-wrap"><i class="fab fa-angular"></i> Angular</span>
                <span class="no-wrap"><i class="fab fa-python"></i> Python</span>
            </div>
        </div>
    </div>
</div>