<div class="row white">
    <div class="col l4 m12 s12 hide-on-med-and-down" id="login-back">
        <div style="height:100%;" class="valign-wrapper">
            <h1 class="ml-2 fw-bold" style="width:70%;font-weight: 600;">Welcome back, you'll need to login first.</h1>
        </div>
    </div>
    <div class="col l8 m12 s12" style="height:100vh">
        <br /><br/>
        <p class="right mr-2">Don't have an account? <a routerLink="/register">Sign Up</a></p>
        <br />
        <div class="row">
            <div class="col l3 m12 s12"></div>
            <div class="col l6 m12 s12" style="margin-top: 25vh;">
                <h2>Login</h2>
                <form (ngSubmit)='loginUser()' #loginForm='ngForm'>
                    <div class="row">
                        <div class="input-field col l12 m12 s12">
                          <input id="email" type="email" class="validate hd-inputs" placeholder="Email" name="email" #name='ngModel' [(ngModel)]="newCred.email">
                        </div>
                      </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <input id="password" type="password" class="validate hd-inputs" placeholder="Password" name="password" #name='ngModel' [(ngModel)]="newCred.password">
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light pink btn-primary" type="submit" name="action">Login
                    </button>
                </form>
            </div>
            <div class="col l3 m12 s12"></div>
        </div>
    </div>
</div>
