.hd-inputs {
    background-color: rgb(241, 239, 239)!important;
    border-bottom: none!important;
    padding-top: 0.7rem!important;
    padding-bottom: 0.7rem!important;
    border-radius: 0.4rem!important;
    height: 30px!important;
}

.hd-inputs::placeholder {
    padding-left:1em;
    color: rgb(131, 127, 127)
}

.hd-inputs:focus {
    border-bottom: none!important;
}

.btn-primary {
    background-color: rgb(250, 119, 119);
    border-radius: 0.48em;
    height:40px;
    width:120px
}

#login-back {
    background-color: antiquewhite;
    height: 100vh;
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 0;
}

.hd-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    margin:0 0 0 0;
}